<configuration>
    <springProfile name="!(dev | prod)">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>
    </springProfile>
    <springProfile name="dev | prod">
        <appender name="consoleAppender"  class="no.nav.rekrutteringsbistand.sms.rekrutteringsbistandsms.utils.fnrmaskering.MaskingAppender">
            <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
            </appender>
        </appender>
        <logger name="jsonLogger" additivity="false" level="DEBUG">
            <appender-ref ref="consoleAppender"/>
        </logger>
    </springProfile>
    <logger name="no.nav.vault.jdbc" level="WARN" />

    <!-- TODO Are: Legg til disse for å unngå støy/warnings i apploggen som vi rutinemessig ignorerer, hvis det ikke hjelper å oppgradere avhengigehter i pom.xml    -->
<!--    <logger name="org.apache.cxf.ws.addressing.soap.MAPCodec" level="ERROR" />-->
<!--    <logger name="org.apache.cxf.ws.addressing.ContextUtils" level="ERROR" />-->

    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>
